# Qdrant Vector DB
QDRANT_API_KEY=
QDRANT_URL=
COLLECTION_NAME=

# Google Gemini Embeddings
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001

# Groq LLMs
GROQ_API_KEY=
GROQ_MODEL_SIMPLE=llama3-8b-8192
GROQ_MODEL_REASONING=llama3-70b-8192
GROQ_MODEL_MODERATION=openai/gpt-oss-safeguard-20b

# App Settings
PROJECT_NAME="Santum AI RAG Service"
DEBUG=False

# LangSmith Tracing
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=santum-ai