fastapi
uvicorn
langchain
langchain-openai
langchain-community
langchain-groq
langchain-qdrant
qdrant-client
langchain-google-genai
pymupdf
pydantic-settings
python-dotenv
tiktoken
pydantic
python-multipart
python-docx
